<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Server_Wrapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="MCSC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
    <userSettings>
        <Server_Wrapper.Properties.Settings>
            <setting name="ramMin" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="ramMax" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="serverFile" serializeAs="String">
                <value>server.jar</value>
            </setting>
            <setting name="ramUnit" serializeAs="String">
                <value>MB</value>
            </setting>
            <setting name="jvm_args" serializeAs="String">
                <value>-Xms{ramMin} -Xmx{ramMax} --add-modules=jdk.incubator.vector -jar {serverJar} nogui</value>
            </setting>
            <setting name="java_path" serializeAs="String">
                <value />
            </setting>
        </Server_Wrapper.Properties.Settings>
        <MCSC.Properties.Settings>
            <setting name="ramMin" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="ramMax" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="serverFile" serializeAs="String">
                <value>server.jar</value>
            </setting>
            <setting name="ramUnit" serializeAs="String">
                <value>MB</value>
            </setting>
        </MCSC.Properties.Settings>
    </userSettings>
</configuration>
